* {
	margin: 0;
	box-sizing: border-box;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
}

#backgroundContainer {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 25px;

	/* background-image: url("./assets/wallhaven-gjr8xq.jpg"); */
	/* background-repeat: no-repeat;
	background-size: cover; */
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: contain;
	overflow: hidden;
}

#backgroundContainer video {
	position: absolute;
}

.panel {
	background-color: rgba(255, 255, 255, 0.5);
	height: 400px;
	width: 650px;
	border-radius: 15px;
	backdrop-filter: blur(15px);

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	font-family: "Lexend Mega", sans-serif;
	color: white;

	filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
}

#clock {
	font-size: 90px;
	font-weight: 900;
}

#message {
	font-size: 40px;
	font-weight: 600;
	margin-top: -60px;
}

#searchContainer {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	border-radius: 15px;
	padding: 0 30px;
	background-color: white;
	transition: filter 300ms ease;
}

#search {
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: large;
	font-family: "Lexend Mega", sans-serif;
	font-weight: 300;
}

#searchIcon {
	height: 30px;
	opacity: 0.4;
	cursor: pointer;
}

#searchContainer:hover {
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}
